@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans&display=swap');





:root {
    --primary-color: #E17908;
    --botton-background1: #FF8E46;
    --button-background2-color: #D8D8D8;
    --button-color2: ##9B9B9B;
}
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body {
    font-family: 'Nunito Sans', sans-serif;
    color: #333;
    background-color: #F6F6F6;
    line-height: 1.6;

}
ul {
    list-style-type: none;
}
a {
    text-decoration: none;
    color: #333;
}





/* Utilities */

.container{
    max-width: 1600px;
    margin: 0 auto;
    overflow: auto;
    padding: 0 40px;
}
.card {
    background-color: #fff;
    color: #333;
    border-radius: 10px;
    /* box-shadow: 0 3px 10px rgba(0,0,0,0.2); */
    padding: 20px;
    margin: 10px;
}
.grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap:20px;
    justify-content: center;
    height: auto;
}
.flex {
    display: flex;
    /* justify-content: center; */
    align-items: center;
    height: 100%;
}
.card{
    margin: 20px;
}

i{
    width: 32px;
}
.grid-3{
    grid-template-columns: repeat(3, 1fr);
}
.grid-4{
    grid-template-columns: repeat(4, 1fr);
}
.grid-5{
    grid-template-columns: repeat(5, 1fr);
}
.text-center {
    text-align: center;
}

.sm{
    font-size: 1rem;
}

.md{
    font-size: 1.3rem;
}

.lg{
    font-size: 2rem;
}
.xl {
    font-size: 2.5rem
}





/*                              Desktop */





/* Buttons */

.btn {
    padding: 10px 30px;
    cursor: pointer;
    background-color: var(--primary-color);
    color: #fff;
    border: none;
    border-radius: 5px;
    
}
.btn1{
    height: 29px;
    width: 150px;
    cursor: pointer;
    background-color: var(--botton-background1);
    color: #fff;
    border: none;
    border-radius: 14px;
    box-shadow: 0 3px 6px 0 rgba(190,190,190,0.5);
    margin-right: 24px;

}
.btn2{
    height: 29px;
    width: 150px;
    cursor: pointer;
    background-color: var(--button-background2-color);
    color: var(--button-color2);
    color:  #9B9B9B;
    border: none;
    border-radius: 14px;
    box-shadow: 0 3px 6px 0 rgba(190,190,190,0.5);
}
.btn:hover{
    transform: scale(0.98);
}
.btn1:hover{
    transform: scale(0.98);
}
.btn2:hover{
    transform: scale(0.98);
}





/* Navigation */

.navigation a{
    line-height: 2.5;
    display: block;
    font-size: 1.2rem;
}
.navigation a:nth-of-type(1){
    margin-top:40px ;
}
.navigation a:hover{
    color: #FF8E46;
}
.blue{
    font-size: 1.1rem;
    color: #4D8CF4;
    font-weight: 700;
    line-height: 1.6;
}





/* Notification */

.notification ul{
    list-style-type: disc;
    font-size: 1.1rem;
    padding: 30px
}
.notification li{
    line-height: 1.6;
    padding: 15px 0;
}
.notification h1{
    padding-bottom: 5px;
}
.notification p:nth-of-type(1){
    height: 24px;
    width: 108px;
    color: #0E1B42;
    font-size: 19.2px;
    letter-spacing: 0.24px;
    line-height: 24px;
    padding-bottom: 0;
}
.notification span:nth-of-type(1){
    border-bottom: 5px solid #FF9292;
}





/* Help */

.help img{
    width: 270px;
    height: 170px;
}
.help p{
    color: #222;
    opacity: .7;
    padding: 10px 0;
}
.help {
    margin: 30px 0;
}





/* Intro */

.intro{
    grid-column: 2/ span 2;
    font-size: 1rem;
    padding-top: 50px;
}
.intro h1{
    grid-column: 2/span 4;
    font-size: 23px;
    padding-left: 20px;
    font-weight: 600;
    color: #555;
}
.intro ul:nth-of-type(odd){
    color:#4A4A4A;
}

.intro ul:nth-of-type(even){
    color:#000;
}
.intro ul{
    padding: 10px;
}
.intro .name{
    color: #FF8E46;
}
.intro .pic{
    width: 150px;
    grid-row: 1/ span 2;
}





/* application */

.application span{
    padding: 0 25px 0 0;
}
.application p{
    padding: 0 10px 15px 10px;
    font-size: 1.05rem;
}
.application i{
    color: #222;
}

.application{
    margin: 30px 0;
}

.heading{
    padding: 40px 10px 10px 10px;
}



/*                    Mobile                               */






/* Navbar */


.navbar {
    background-color: #fff;
    height: 70px;
}

.navbar .flex{
    justify-content: space-between;
}
.navbar ul {
    display: flex;
}
.navbar a {
    color: #333;
    padding: 10px;
    margin: 0 5px;
}
.navbar i{
    color: #333;
    font-size: 30px;
}
.navbar .user-pic{
    width: 30px;
}




/* Oportunities Card */

.Opportunities-card{
    padding-top: 30px;
}

.number{
    margin-top: 7px;
    color: #4A90E2;
    font-weight: bold;
    font-size: 2rem;
}





/* Footer */

footer{
    background-color: #FF8E46;
    justify-content: space-evenly;
}
footer i{
    padding: 20px;
    font-size: 1.6rem;
}

.bottom{
    margin-top: 50px;
    height: 58px;
    width: 500px;
    background-color: #FFAB74;
    overflow: hidden;
}




/*                   Media Queries */



  
  
@media(min-width: 501px){
    .mobile{
        display: none;
    }
}


@media(max-width: 500px){
    .desktop{
        display: none;
    }

    .heading{
        padding-left: 25px;
        color:#6F6F6F;
        font-weight: 400;
        line-height: 1.6;
        font-size: 1.5rem;
    }

    .application p:nth-of-type(1){
        color: #727272;
    }

    .btn1{
        background-color: #fff;
        color: #FF8E46;
        border: 2px solid #FF8E46;
        box-shadow: none;
        margin: 10px;
    }

    .application p{
        font-size: .9rem;
    }

    .Opportunities-card{
        font-size: .7rem;
    }

    .Opportunities-card p:nth-of-type(2){
        margin-bottom: 7px;
    }

    .number{
        font-size: 1.4rem;
    }
    .navbar a {
        padding: 0;
        margin: 0;
        padding-right: 20px;
    }
    .navbar i{
        font-size: 20px;
    }
    .navbar .user-pic{
        width: 20px;
        
    }

    .navbar img{
        width: 100px;
    }

    .container{
        padding: 0 10px;
        max-width: 500px;
        width: 100%;
    }

   html{
       height: 100%;
   }

   hr{
       opacity: 0.2;
       color:#979797
   }

}

@media(max-width: 320px){
    @media(max-width: 320px){
        .desktop{
            display: none;
        }
    
        .heading{
            padding-left: 25px;
            color:#6F6F6F;
            font-weight: 400;
            line-height: 1.6;
            font-size: 1.2rem;
        }
    
        .application p:nth-of-type(1){
            color: #727272;
        }
    
        .btn1{
            background-color: #fff;
            color: #FF8E46;
            border: 2px solid #FF8E46;
            box-shadow: none;
            margin: 10px;
        }
    
        .application p{
            font-size: .6rem;
        }
    
        .Opportunities-card{
            font-size: .6rem;
        }
    
        .Opportunities-card p:nth-of-type(2){
            margin-bottom: 7px;
        }
    
        .number{
            font-size: 1.4rem;
        }
        .navbar a {
            padding: 0;
            margin: 0;
            padding-right: 20px;
        }
        .navbar i{
            font-size: 20px;
        }
        .navbar .user-pic{
            width: 20px;
            
        }
    
        .navbar img{
            width: 100px;
        }
    
        .container{
            padding: 0 10px;
            max-width: 320px;
            width: 100%;
        }
    
       html{
           height: 100%;
       }
    
       hr{
           opacity: 0.2;
           color:#979797
       }
    
    }








}








