body {
    margin: 0;
    text-align: center;
    font-family: 'Merriweather', serif;
    color: #40514E;
}

h1 {
    font-size: calc(1rem * 90/16);
    margin-top: 50px auto 0 auto;
    font-family: 'Sacramento', cursive;
    color: #FF9292;
    line-height: 2;

}

h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: calc(1rem * 40/16);
    color: #FF9292;
    font-weight: normal;
    padding-bottom: 10px;
}

h3 {
    font-family: 'Montserrat', sans-serif;
    color: #FF9292;

}

.top-container {
    background-color: #FCD1D1;
    padding: 100px;


}



.left {
    width: 25%;
    float: left;
    margin-right: 30px
}

.my-pic {
    width: 15%;
    border: 5px solid black;
    border-radius: 50%;
    padding: 5px;
}

.right {
    width: 25%;
    float: right;
    margin-left: 30px;
}

a {
    color: #E5707E;
    font-family: 'Merriweather', serif;
    margin: 10px 20px;
    text-decoration: none;
    font-size: 1.5rem;
}

span {
    border-bottom: 5px solid #FF9292;

}

.skill-row {
    width: 50%;
    margin: 100px auto 150px auto;
    text-align: left;

}

.middle-container {
    margin: 100px auto 100px auto;
}

.intro {
    width: 30%;
    margin: auto;
}

p {
    line-height: 2;
    font-size: 1.2rem;
    
}

hr {
    border: 6px dotted #FCD1D1;
    border-bottom: none;
    width: 5%;
    margin: 100px auto 100px auto;

}

.contact-message {
    width: 40%;
    margin: 40px auto 60px;
}

.bottom-container {
    background-color: #FFB4B4;
    padding: 100px 0;
}

a:hover {
    color: #EAF6F6;
}

.copyright {
    color: #EAF6F6;
    font-size: 1rem;
    padding: 20px 0;
}




.dark {
    background-color: #222;
    color: #e6e6e6;
}

button {
    cursor: pointer;
    border: 1px solid #555;
    text-align: center;
    padding: 5px;
    margin-left: 8px;
}

.btn {
    position: absolute;
    right: 10%;
    font-size: 4rem;
    border-radius: 100%;
    padding:0 20px 5px;   
    border: none; 
    background-color: #FCD1D1;
}

@media  screen and (max-width:820px) {
    .skill-row {
        width: 80%;
        text-align: center;
    }
    .left {
        float: none;
    }
    
    
    .right{
        float: none;
    }
    .intro {
        width: 80%;
    }
    .windmill {
        width: 280px;
        margin: auto;
    }
    h1 {
        font-size: 3rem;
    }
    h2 {
        font-size: 2.5rem;
    }
    p {
        font-size: 1.1rem;
    }
    .btn {
        font-size: 2rem;
        padding: 10px 18px;
    }
}

